{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% load static %}
{% block head_title %}
    {% trans "Pacientes" %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'pacientes/css/style.css' %}">
{% endblock extra_head %}
{% block content %}
    <h1>Lista de Pacientes</h1>
    <ul>
        {% for paciente in pacientes %}
            <li>{{ paciente.nome }} ({{ paciente.idade }} anos)</li>
        {% endfor %}
    </ul>
    <button class="button" onclick = "window.location.href ='./login'">Fazer Login</button>
    <div class="container">
        <textarea name="ta" id="results" cols="30" rows="10">
  
        </textarea><br>
        Enter the expression: <input type="text" id="exp">
        <input type="button" class="button margin-top" id="submit" value="Get Results">
    </div>
    
    <script>
        const socket = new WebSocket('ws://localhost:8000/ws/livec/');
        socket.onmessage = (e) => {
            result = JSON.parse(e.data).result;
            document.getElementById("results").value += "Server: " + result + "\n";
        }
  
        socket.onclose = (e) => {
            console.log("Socket closed!");
        }
  
        document.querySelector('#exp').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#submit ').click();
            }
        };
  
        document.querySelector("#submit").onclick = (e) => {
            inputfield = document.querySelector("#exp")
            exp = inputfield.value
            socket.send(JSON.stringify(
                {
                    expression: exp
                }
            ))
            document.querySelector("#results").value += "You: " + exp + "\n";
            inputfield.value = "";
        }
  
    </script>
{% endblock content %}


