{% extends "account/base_entrance.html" %}
{% load allauth %}
{% load i18n %}
{% load static %}
{% block head_title %}
    {% trans "Confirmar Acesso" %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'pacientes/css/style.css' %}">
{% endblock extra_head %}
{% block content %}
<div class="container">
    {% element h1 %}
        {% trans "Confirmar Acesso" %}
    {% endelement %}
    <p>{% blocktranslate %}Autentique novamente para proteger sua conta.{% endblocktranslate %}</p>
    {% block reauthenticate_content %}{% endblock %}
    {% if reauthentication_alternatives %}
        {% element hr %}
        {% endelement %}
        {% element h2 %}
            {% translate "Opções alternativas" %}
        {% endelement %}
        <ul>
            {% for alt in reauthentication_alternatives %}
                <li>
                    <a href="{{ alt.url }}">{{ alt.description }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
</div> 
{% endblock content %}
