{% extends "account/base_manage_email.html" %}
{% load i18n %}
{% load allauth %}
{% load static %}
{% block head_title %}
    {% trans "Endereço de E-mail" %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'pacientes/css/style.css' %}">
    {% endblock extra_head %}
{% block content %}
<div class="container">
    {% element h1 %}
        {% trans "Endereço de E-mail" %}
    {% endelement %}
    {% if not emailaddresses %}
        {% include "account/snippets/warn_no_email.html" %}
    {% endif %}
    {% url 'account_email' as action_url %}
    {% element form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {% if current_emailaddress %}
                {% element field disabled=True type="email" value=current_emailaddress.email %}
                    {% slot label %}
                        {% translate "E-mail atual" %}:
                    {% endslot %}
                {% endelement %}
            {% endif %}
            {% if new_emailaddress %}
                {% element field name="email" value=new_emailaddress.email disabled=True type="email" %}
                    {% slot label %}
                        {% if not current_emailaddress %}
                            {% translate "E-mail atual" %}:
                        {% else %}
                            {% translate "Alterando para" %}:
                        {% endif %}
                    {% endslot %}
                    {% slot help_text %}
                        {% blocktranslate %}Seu endereço de e-mail ainda está pendente de verificação.{% endblocktranslate %}
                        <button form="pending-email" type="submit" class="button" name="action_send" tags="minor,secondary">
                            {% trans 'Reenviar verificação' %}
                        </button>

                        {% if current_emailaddress %}
                            <button form="pending-email" type="submit" class="button" name="action_remove" tags="danger,minor">
                                {% trans 'Cancelar Alteração' %}
                            </button>
                        {% endif %}
                    {% endslot %}
                {% endelement %}
            {% endif %}
            {% element field name="email" value=form.email.value errors=form.email.errors type="email" %}
                {% slot label %}
                    {% translate "Alterar para" %}:
                {% endslot %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            <button name="action_add" class="button" type="submit" %>
                {% trans "Alterar E-mail" %}
            </button>
        {% endslot %}
    {% endelement %}
    {% if new_emailaddress %}
        <form style="display: none"
              id="pending-email"
              method="post"
              action="{% url 'account_email' %}">
            {% csrf_token %}
            <input type="hidden" name="email" value="{{ new_emailaddress.email }}">
        </form>
    {% endif %}
</div>
    
{% endblock content %}
