{% extends "account/base_manage_email.html" %}
{% load allauth i18n %}
{% load static %}
{% block head_title %}
    {% trans "Endereços de E-mail" %}
{% endblock head_title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'pacientes/css/style.css' %}">
{% endblock extra_head %}
{% block content %}
<div class="container">
    {% element h1 %}
        {% trans "Endereços de E-mail" %}
    {% endelement %}
    {% if emailaddresses %}
        <p>{% trans 'Os seguintes endereços de e-mail estão associados à sua conta:' %}</p>
        {% url 'account_email' as email_url %}
        {% element form form=form action=email_url method="post" %}
            {% slot body %}
                {% csrf_token %}
                {% for radio in emailaddress_radios %}
                    {% with emailaddress=radio.emailaddress %}
                        {% element field type="radio" checked=radio.checked name="email" value=emailaddress.email id=radio.id %}
                            {% slot label %}
                                {{ emailaddress.email }}
                                {% if emailaddress.verified %}
                                    {% element badge tags="success,email,verified" %}
                                        {% translate "Verificado" %}
                                    {% endelement %}
                                {% else %}
                                    {% element badge tags="warning,email,unverified" %}
                                        {% translate "Não verificado" %}
                                    {% endelement %}
                                {% endif %}
                                {% if emailaddress.primary %}
                                    {% element badge tags="email,primary" %}
                                        {% translate "Primário" %}
                                    {% endelement %}
                                {% endif %}
                            {% endslot %}
                        {% endelement %}
                    {% endwith %}
                {% endfor %}
            {% endslot %}
            {% slot actions %}
                <button type="submit" class="button" name="action_primary">
                    {% trans 'Tornar Primário' %}
                </button>
                <button tags="secondary" class="button margin" type="submit" name="action_send" %>
                    {% trans 'Reenviar Verificação' %}
                </button>
                <button tags="danger,delete" class="button" type="submit" name="action_remove">
                    {% trans 'Remover' %}
                </button>
            {% endslot %}
        {% endelement %}
    {% else %}
        {% include "account/snippets/warn_no_email.html" %}
    {% endif %}
    {% if can_add_email %}
        {% element h2 %}
            {% trans "Adicionar Endereço de E-mail" %}
        {% endelement %}
        {% url 'account_email' as action_url %}
        {% element form form=form method="post" action=action_url %}
            Hoi bef bod
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form %}
                {% endelement %}
            {% endslot %}
            befac
            {% slot actions %}
                <button name="action_add" class="button" type="submit">
                    {% trans "Adicionar E-mail" %}
                </button>
            {% endslot %}
        {% endelement %}
    {% endif %}
</div> 
{% endblock content %}
{% block extra_body %}
    <script type="text/javascript">
(function() {
  var message = "{% trans 'Você realmente deseja remover o e-mail selecionado?' %}";
  var actions = document.getElementsByName('action_remove');
  if (actions.length) {
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
    </script>
{% endblock extra_body %}
