{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% load static %}

    {% block head_title %}
    {% trans "Login" %}
    {% endblock head_title %}
    {% block extra_head %}
    <link rel="stylesheet" href="{% static 'pacientes/css/style.css' %}">
    {% endblock extra_head %}

{% block content %}
    <div class="container">
        {% element h1 %}
        {% trans "Login" %}
    {% endelement %}
    <p>
        {% blocktrans %}Se você não possui uma conta, por favor
    <a href="{{ signup_url }}">cadastre-se</a> primeiro.{% endblocktrans %}
    </p>
    {% url 'account_login' as login_url %}
    {% element form form=form method="post" action=login_url tags="entrance,login" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            {% element button class="button" type="submit" tags="prominent,login"  %}
                {% trans "Entrar" %}
            {% endelement %}
        {% endslot %}
    {% endelement %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
    </div>
{% endblock content %}
