{% extends "socialaccount/base_manage.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Conexões de conta" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Conexões de conta" %}
    {% endelement %}
    {% if form.accounts %}
        <p>
            {% blocktrans %}Você pode fazer login na sua conta usando qualquer uma das seguintes contas de terceiros:{% endblocktrans %}
        </p>
        {% url 'socialaccount_connections' as action_url %}
        {% element form form=form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                {% for acc in form.fields.account.choices %}
                    {% with account=acc.0.instance.get_provider_account %}
                        {% setvar radio_id %}
                            id_account_{{ account.account.pk }}
                        {% endsetvar %}
                        {% setvar tags %}
                            socialaccount,{{ account.account.provider }}
                        {% endsetvar %}
                        {% element field id=radio_id type="radio" name="account" value=account.account.pk %}
                            {% slot label %}
                                {{ account }}
                                {% element badge tags=tags %}
                                    {{ account.get_brand.name }}
                                {% endelement %}
                            {% endslot %}
                        {% endelement %}
                    {% endwith %}
                {% endfor %}
            {% endslot %}
            {% slot actions %}
                <button tags="delete,danger" class="button" type="submit">
                    {% trans 'Remover' %}
                </button>
            {% endslot %}
        {% endelement %}
    {% else %}
        <p>{% trans 'Atualmente você não tem contas de terceiros conectadas a esta conta.' %}</p>
    {% endif %}
    {% element h2 %}
        {% trans 'Adicionar uma conta de terceiros' %}
    {% endelement %}
    {% include "socialaccount/snippets/provider_list.html" with process="connect" %}
    {% include "socialaccount/snippets/login_extra.html" %}
{% endblock content %}
