{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Login Cancelado" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Login Cancelado" %}
    {% endelement %}
    {% url 'account_login' as login_url %}
    <p>
        {% blocktrans %}Você decidiu cancelar o login em nosso site usando uma de suas contas existentes. Se isso foi um erro, prossiga para <a href="{{login_url}}">fazer login</a>.{% endblocktrans %}
    </p>
{% endblock content %}
