{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Cadastro" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        {% trans "Cadastro" %}
    {% endelement %}
    <p>
        {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}Você está prestes a usar sua conta do {{provider_name}} para fazer login
        {{site_name}}. Como etapa final, preencha o seguinte formulário:{% endblocktrans %}
    </p>
    {% url 'socialaccount_signup' as action_url %}
    {% element form form=form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            <button type="submit">
                {% trans "Cadastre-se" %}
            </button>
        {% endslot %}
    {% endelement %}
{% endblock content %}
