{% extends "openid/base.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    OpenID {% translate "Login" %}
{% endblock head_title %}
{% block content %}
    {% element h1 %}
        OpenID {% trans 'Login' %}
    {% endelement %}
    {% url 'openid_login' as action_url %}
    {% element form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=True %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            <button type="submit">
                {% translate "Login" %}
            </button>
        {% endslot %}
    {% endelement %}
{% endblock content %}
